@media (max-width: 991px) {
    #app {
        margin-top: 15%;
    }
}

#app {
    margin-top: 5%;
}

.btn-check:checked+.btn {
    background-color: #51589C;
}

label.btn-secondary {
    width: 100%;
}

.observer.oe {
    background-color: #86fca9;
}

.observer.oi {
    background-color: #86bbfc;
}

.decider.di {
    background-color: #fcf886;
}

.decider.de {
    background-color: #fc9486;
}

td {
    height: 50px;
}